@model HoangKimHuan0797.Models.HKHStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin học sinh</h1>

<div>
    <h4>HKHStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HKHStudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HKHStudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HKHStudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HKHStudentPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HKHStudentName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
